/*
 * client.css
 * Where all things styles go
*/
/* imports go here */
@import url('https://fonts.googleapis.com/css2?family=Muli&family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
/* Globals and elements */
:root{
    --playfair: "Playfair Display", serif;
    --multi: 'Muli', sans-serif;
    --red-orange: #eb5642;
    --hot-pink: #E655CE;
}
body{
    overflow-x: hidden;
}
a{
    color: var(--red-orange);
}
footer{
    width: 100%;
    height: 80px;
    display: inline-block;
}
img {
    display: block;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: auto;
    width: 50%;
}

/* Sections */

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page .section{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.topbar{
    position: fixed;
    top: 5%;
    left: 35px;
    right: 35px;
    height: 80px;
    width: auto;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-gap: 5px;
    font-size: calc(1vw + 1rem);
    font-family: var(--playfair);
    z-index: 12;
}

.topbar .box{
    align-content: center;
    text-align: center;
}

/* Menu button style */

.menu_button{
    width: 50px;
    height: 50px;
}
.menu_button .bun{
    width: 100%;
    height: 1px;
    margin-top: 20%;
    background: linear-gradient(to left, var(--red-orange) 50%, var(--hot-pink) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition: all 400ms ease-out;
}
.menu_button .bun:nth-child(1){
    transition-delay: 0ms; } 
    #menu_button_open .bun:nth-child(2){
    transition-delay: 100ms; } 
    #menu_button_open .bun:nth-child(3){
    transition-delay: 300ms;
}
.box .menu_button:hover{ 
    cursor: pointer;
}
.box .menu_button:hover > .bun{
    background-position:left bottom;
}
#cross-a,#cross-b{
    transform-origin: left;
}
#cross-a{ transform: rotate(45deg) } 
#cross-b { transform: rotate(-45deg) translate(-17px, 17px)}

/* Menu Styles */
#menu_page{
    opacity: 0;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    z-index: 13;
    font-style: var(--multi);
}

.menu_item{
    opacity: 0;
    background-clip: text;
    background-image: linear-gradient(to right, #f83600 0%,#fe8c00 48%,black 48%, black 100%);;
    background-size: 200% 100%;
    background-position: 100%;
    border-radius: 15px;
    margin-left: 15px;
}
.menu_item:hover{
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    background-position: 0%;
    cursor: pointer;
}

/* Section aesthetics */
.dark{
    background-color: black;
    color: white;
}

/* Grid */
.box{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.col-2{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2%;
    grid-auto-rows: auto;
}
.col-3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2%;
    grid-auto-rows: auto;
}
/* Text formats */

.big{
    font-family: var(--playfair);
    font-size: 12em;
    overflow: hidden;
}
.medium{
    font-family: var(--playfair);
    font-size: 8em;
    overflow: hidden;
}
.small{
    font-family: var(--multi);
    font-size: 2em;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidetext{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    font-family: var(--playfair);
    font-style: italic;
    font-size: 6em;
}

.subtitle{
    position: relative;
    top: 5%;
    font-family: var(--playfair);
    font-size: 3em;
    font-style: italic;
    padding-left: 15px;
}

.parragraph{
    position: relative;
    margin: 2vw;
    font-size: 2rem;
}

.char{
    display: inline-block;
    transform: rotateY(90deg);
}


/* Animations */
#title span{
    opacity: 0;
}

/* Responsive Changes */

/* Laptop */
@media screen and (max-width: 1640px) {
    .big {
        font-size: 10em;
    }
    .medium{
        font-size: 6em;
    }
    .sidetext{
        font-size: 5em;
    }
}

@media screen and (max-width: 1290px) {
    .big{
        font-size: 6em;
    }
    .medium{
        font-size: 4em;
    }
    .sidetext{
        font-size: 3em;
    }
}
@media screen and (max-width: 840px){
    .big{
        font-size: 5em;
    }
    .medium{
        font-size: 2em;
    }
    .small{
        font-size: 1.3em;
    }
    .col-2{
        display: inline-block;
    }
    .col-3{
        display: inline-block;
    }
    .sidetext{
        position: inherit;
        top: 0;
        left: 0;
        margin-right: 0;
    }
    .topbar{
        top: 3%;
        grid-template-columns: 30% 45% 30%;
    }
}

@media screen and (max-width: 735px){
    .button i{
        font-size: 1.3em
    }
}