/*
 * client.css
 * Where all things styles go
*/
/* imports go here */
@import url('https://fonts.googleapis.com/css2?family=Muli&family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
/* Globals and elements */
:root{
    --playfair: "Playfair Display", serif;
    --multi: 'Muli', sans-serif;
}
a{
    color: #eb5642;
}
footer{
    width: 100%;
    height: 80px;
    display: inline-block;
}

/* Sections */

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page .section{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

/* Menu button style */

.button{
    position: fixed;
    top: 5%;
    right: 5%;
    text-align: center;
    border: .1rem solid black;
    border-radius: 5% 20% 5%;
    z-index: 5;
    transition: 50ms;
    padding: 3%;
}
.button i{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw
}
.button:hover{
    border-radius: 20% 5% 20%;
    cursor: pointer;
}

/* Menu Styles */
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}


/* Section aesthetics */
.dark{
    background-color: black;
    color: white;
}

/* Grid */
.box{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.col-2{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2%;
    grid-auto-rows: auto;
}
.col-3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2%;
    grid-auto-rows: auto;
}
/* Text formats */

.big{
    font-family: var(--playfair);
    font-size: 12em;
    overflow: hidden;
}
.medium{
    font-family: var(--playfair);
    font-size: 8em;
    overflow: hidden;
}
.small{
    font-family: var(--multi);
    font-size: 2em;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidetext{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    font-family: var(--playfair);
    font-style: italic;
    font-size: 6em;
}

.subtitle{
    position: relative;
    top: 5%;
    font-family: var(--playfair);
    font-size: 3em;
    font-style: italic;
    padding-left: 15px;
}

.parragraph{
    position: relative;
    margin: 2vw;
    font-size: 2rem;
}